@font-face { font-family: 'MyCustomFont'; 
  src: url('/assets/fonts/LOT.otf') format('opentype');
}

:root {
  --primary-color: rgb(16, 16, 17);
}

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  background: var(--primary-color);
  font-family: 'Open sans', sans-serif;
}

.header-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background: rgb(10, 10, 10);
  box-shadow: 0rem 0rem 1rem rgba(255, 255, 255, 0.2);
}

.header__logo span{
  font-family: 'MyCustomFont', sans-serif;
  font-size: 40px;
  color: #6e84cf;
}

.header__logo p{
  color: #fff;
}

.nav-container{
  display: flex;
  gap: 20px;
}

.nav-container a{
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  color: #fff;
  transition: all 0.3s ease;
}

.nav-container a:hover{
  transform: scale(1.03);
}

.container {
  margin: 0 auto;
  padding: 20px;
}

.about-content{
  display: flex;
  padding: 1rem 9% 1rem;
}

.about-content__img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-content__img img{
  border-radius: 50%;
  height: 80%;
}

.about-content__text{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.text-title h1{
  color: #6e84cf;
  text-transform: uppercase;
  font-size: 40px;
  margin: 0;
}

.text-subtitle h2{
  color: #a1b5e7;
  font-style: italic;
}

.about-content__text p{
  font-size: 18px;
  color: #fff;
}

.footer-container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  background: rgb(10, 10, 10);
  box-shadow: 0rem 0rem 1rem rgba(255, 255, 255, 0.2);
}

.footer__social-logos{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 30px;
}

.footer__social-logos a{
  font-size: 40px;
  color: #6e84cf;
  transition: 0.3s ease;
}

.footer__social-logos a:hover{
  transform: scale(1.02) translateY(-1px);
  
}
